<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/allinHead/all_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,882},{65,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,72}</string>
			</dict>
			<key>animation/allinHead/all_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,309},{138,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,147}</string>
			</dict>
			<key>animation/allinHead/all_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,602},{136,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,138}</string>
			</dict>
			<key>animation/allinHead/all_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,458},{138,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,142}</string>
			</dict>
			<key>animation/allinHead/all_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,742},{132,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,138}</string>
			</dict>
			<key>animation/allinHead/all_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{141,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,157}</string>
			</dict>
			<key>animation/allinHead/all_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,160},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>animation/allinHead/all_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1},{144,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,143}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>allinHead.png</string>
			<key>realTextureFileName</key>
			<string>allinHead.png</string>
			<key>size</key>
			<string>{288,955}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>288</integer>
			<key>height</key>
			<integer>955</integer>
		</dict>
	</dict>
</plist>