<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>datastatistics_circle_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{284,284}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>datastatistics_circle_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,250},{246,246}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{246,246}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>datastatistics_circle_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{246,246}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{246,246}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>datastatistics_circle_blue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,250},{246,246}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{246,246}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>datastatistics_circle_blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{246,246}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{246,246}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{18,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_change-into.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,288},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>icon_defend.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,250},{44,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>icon_desktop.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,432},{36,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{36,50}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>icon_extension.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,432},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>icon_into.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,432},{38,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,44}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>icon_plum_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_plum_blue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_plum_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_plum_green1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_plum_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_plum_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_plum_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,432},{38,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>icon_signout.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,288},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{38,40}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>icon_spot_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,484},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{18,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_spot_blue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,484},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{18,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_spot_blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,480},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{18,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_turn-out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>icon_withdraw-.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,432},{38,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,44}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>mengzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dataview.png</string>
            <key>size</key>
            <string>{830,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a6363ec48d29d87f4ad11b9dd3eadf0$</string>
            <key>textureFileName</key>
            <string>dataview.png</string>
        </dict>
    </dict>
</plist>
