<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{244,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,125}}</string>
                <key>sourceSize</key>
                <string>{244,125}</string>
            </dict>
            <key>bg_white_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,464},{244,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,97}}</string>
                <key>sourceSize</key>
                <string>{244,97}</string>
            </dict>
            <key>button_homepage_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,464},{156,156}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{156,156}}</string>
                <key>sourceSize</key>
                <string>{222,170}</string>
            </dict>
            <key>button_homepage_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,306},{156,156}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{156,156}}</string>
                <key>sourceSize</key>
                <string>{222,170}</string>
            </dict>
            <key>button_login_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{736,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,152}}</string>
                <key>sourceSize</key>
                <string>{736,152}</string>
            </dict>
            <key>button_login_gray_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{736,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,152}}</string>
                <key>sourceSize</key>
                <string>{736,152}</string>
            </dict>
            <key>button_login_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{736,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,152}}</string>
                <key>sourceSize</key>
                <string>{736,152}</string>
            </dict>
            <key>button_register_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{726,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{726,142}}</string>
                <key>sourceSize</key>
                <string>{736,142}</string>
            </dict>
            <key>button_register_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{726,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{726,142}}</string>
                <key>sourceSize</key>
                <string>{736,142}</string>
            </dict>
            <key>duanxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,721},{42,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,29}}</string>
                <key>sourceSize</key>
                <string>{42,29}</string>
            </dict>
            <key>icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,689},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>icon_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,666},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_check1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,622},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,622},{108,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,97}}</string>
                <key>sourceSize</key>
                <string>{108,97}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,380},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,118},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>icon_obtain.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{302,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,115}}</string>
                <key>sourceSize</key>
                <string>{302,115}</string>
            </dict>
            <key>icon_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,721},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>icon_verification.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,756},{47,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,784},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,118},{38,3}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,3}}</string>
                <key>sourceSize</key>
                <string>{40,3}</string>
            </dict>
            <key>login_accounts_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,66},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>login_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,446},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>login_code_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,248},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>login_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,710},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>login_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,118},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>login_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,622},{38,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,65}}</string>
                <key>sourceSize</key>
                <string>{38,65}</string>
            </dict>
            <key>login_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,314},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,49}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>login_nickname_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,380},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,49}</string>
            </dict>
            <key>pw_strength_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,798},{248,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,12}}</string>
                <key>sourceSize</key>
                <string>{248,12}</string>
            </dict>
            <key>pw_strength_bg_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,770},{248,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,12}}</string>
                <key>sourceSize</key>
                <string>{248,12}</string>
            </dict>
            <key>pw_strength_bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,784},{248,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,12}}</string>
                <key>sourceSize</key>
                <string>{248,12}</string>
            </dict>
            <key>pw_strength_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,756},{248,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,12}}</string>
                <key>sourceSize</key>
                <string>{248,12}</string>
            </dict>
            <key>pw_strength_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,770},{248,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,12}}</string>
                <key>sourceSize</key>
                <string>{248,12}</string>
            </dict>
            <key>pw_strength_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,756},{248,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,12}}</string>
                <key>sourceSize</key>
                <string>{248,12}</string>
            </dict>
            <key>ui_0022_camera_icon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,314},{78,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,64}}</string>
                <key>sourceSize</key>
                <string>{78,64}</string>
            </dict>
            <key>ui_0023_camera_icon_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,248},{78,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,64}}</string>
                <key>sourceSize</key>
                <string>{78,64}</string>
            </dict>
            <key>ui_0025_email_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,622},{108,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,97}}</string>
                <key>sourceSize</key>
                <string>{108,97}</string>
            </dict>
            <key>ui_0026_phone_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{37,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,62}}</string>
                <key>sourceSize</key>
                <string>{37,62}</string>
            </dict>
            <key>ui_0027_chat_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,756},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>ui_0028_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,773},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>ui_0057_line_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{860,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,2}}</string>
                <key>sourceSize</key>
                <string>{860,2}</string>
            </dict>
            <key>version_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{250,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,58}}</string>
                <key>sourceSize</key>
                <string>{250,58}</string>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,710},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>yaoqingma.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,721},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1023,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3147c6e93331fa722cf5230b0217ffc9$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
