<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Insurance_icon_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,54}</string>
            </dict>
            <key>activity_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,179},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>activity_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,292},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>activity_guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,292},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bg_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bg_top_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,292},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>button_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,77},{670,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,80}}</string>
                <key>sourceSize</key>
                <string>{670,80}</string>
            </dict>
            <key>button_left_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,77},{334,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,77}}</string>
                <key>sourceSize</key>
                <string>{334,77}</string>
            </dict>
            <key>data_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,77},{127,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,82}}</string>
                <key>sourceSize</key>
                <string>{127,82}</string>
            </dict>
            <key>data_bg_darkgrey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{81,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,65}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,2},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>icon_discover_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,292},{140,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,145}}</string>
                <key>sourceSize</key>
                <string>{140,145}</string>
            </dict>
            <key>icon_discover_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,292},{140,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,145}}</string>
                <key>sourceSize</key>
                <string>{140,145}</string>
            </dict>
            <key>icon_gold-coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>icon_info_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,292},{140,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,145}}</string>
                <key>sourceSize</key>
                <string>{140,145}</string>
            </dict>
            <key>icon_info_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,292},{140,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,145}}</string>
                <key>sourceSize</key>
                <string>{140,145}</string>
            </dict>
            <key>icon_insurance.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>icon_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,179},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,77},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_letter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>icon_letter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,179},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_letter3.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,179},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_letter4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,179},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_records_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,292},{140,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,145}}</string>
                <key>sourceSize</key>
                <string>{140,145}</string>
            </dict>
            <key>icon_records_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,292},{140,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,145}}</string>
                <key>sourceSize</key>
                <string>{140,145}</string>
            </dict>
            <key>icon_setting_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,292},{140,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,145}}</string>
                <key>sourceSize</key>
                <string>{140,145}</string>
            </dict>
            <key>icon_setting_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,292},{140,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,145}}</string>
                <key>sourceSize</key>
                <string>{140,145}</string>
            </dict>
            <key>icona.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>iconb.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>iconc.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icond.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icone.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>iconf.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>insurance_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>insurance_bg_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>insurance_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,3}}</string>
                <key>sourceSize</key>
                <string>{40,3}</string>
            </dict>
            <key>insurance_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,179},{122,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,105}}</string>
                <key>sourceSize</key>
                <string>{122,105}</string>
            </dict>
            <key>jackpot_back_1c7f56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,77},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>jackpot_back_b24b49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,77},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>jackpot_icon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>jackpot_icon_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jackpot_icon_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>main_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,179},{167,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,111}}</string>
                <key>sourceSize</key>
                <string>{167,111}</string>
            </dict>
            <key>main_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,179},{167,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,111}}</string>
                <key>sourceSize</key>
                <string>{167,111}</string>
            </dict>
            <key>main_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,179},{413,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,111}}</string>
                <key>sourceSize</key>
                <string>{413,111}</string>
            </dict>
            <key>main_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,179},{413,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,111}}</string>
                <key>sourceSize</key>
                <string>{413,111}</string>
            </dict>
            <key>main_bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,77},{439,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,80}}</string>
                <key>sourceSize</key>
                <string>{439,80}</string>
            </dict>
            <key>main_danqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{170,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,16}}</string>
                <key>sourceSize</key>
                <string>{170,16}</string>
            </dict>
            <key>main_shaixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>main_shaixuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>main_shaixuanbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,77},{78,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,98}}</string>
                <key>sourceSize</key>
                <string>{78,98}</string>
            </dict>
            <key>main_shequ_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,292},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>main_witch_server_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,179},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quick_seat_icon_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>record_icon_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{136,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,161}}</string>
                <key>sourceSize</key>
                <string>{136,161}</string>
            </dict>
            <key>record_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,455},{174,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,200}}</string>
                <key>sourceSize</key>
                <string>{174,200}</string>
            </dict>
            <key>record_icon_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,292},{136,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,161}}</string>
                <key>sourceSize</key>
                <string>{136,161}</string>
            </dict>
            <key>shop_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shuju_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,455},{385,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,385}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>shuju_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,455},{307,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,307}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>shuju_02Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,455},{292,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,292}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>shuju_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,455},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>shuju_03Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,455},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>shuju_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>shuju_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>shuju_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>statistics_bg_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>statistics_icon_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ui_0012_logo_group_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,455},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>ui_0017_help_icon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_0037_jewel_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{47,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,34}}</string>
                <key>sourceSize</key>
                <string>{47,34}</string>
            </dict>
            <key>ui_0038_yes_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>ui_0039_no_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,2},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>ui_0058_round_box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,2},{171,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,69}}</string>
                <key>sourceSize</key>
                <string>{171,69}</string>
            </dict>
            <key>ui_0059_round_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ui_0060_round_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ui_0091_back_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,2},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>ui_0144_lock_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,2},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>ui_0145_lock_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,2},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>ui_0146_btn_Reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{171,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,69}}</string>
                <key>sourceSize</key>
                <string>{171,69}</string>
            </dict>
            <key>ui_0147_icon_questmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,292},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{2015,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d2b41777e677aafbdb95eee81119fe8$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
